@{
  Layout = "_Layout";
}

<h3>Vendor: @Model["vendor"].NameOfVendor</h3>
<h1>Order Details: </h1>

<h2>@Model["order"].Title</h2>
<h2>@Model["order"].Description</h2>
<h2>@Model["order"].Price</h2>
<h2>@Model["order"].Date</h2>


<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<a href='/vendors'>View all vendors</a>